@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height:100vh;
    background-color: aqua;
  }

  .main{
    width: 100%;
    height:100%;
  }

.main{
   display: flex;
   margin: auto;
   flex-direction: column;
   align-items: center;
}

.main>.primery-msg{
  color:white;
  margin-top: 30px;
  user-select: none;
}

.main> .info .sec-msg{
  font-size:1.8em;
 color:rgb(17, 15, 15);
 user-select: none;
}


.main .info{
    margin-top:150px;
  
}

.main p{
   margin-top: 10px;
    text-align: center;
    font-weight:500 ;
    letter-spacing: 0.05rem;
    font-size: 1.2em;
    color:#303030;
    user-select: none;
}
.main  #RegUser-id{
  color:red;
}

.main a{
  text-decoration: none;
  font-weight: bold;
}


