@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #603ef7c7;
}

.container{
    width: 30%;
    margin: 100px auto;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
}


.heading{
    text-align: center;
    width: 70%;
    font-size: 1.4vw;
    margin: 30PX 0 20px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(39, 39, 39);
}

.input-section{
    display: flex;
    flex-direction: column;
    width: 70%;
    /* margin: auto; */
}

input{
    font-size: 1.1vw;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    outline: none;
    font-weight: 600;
    background-color: #d4d6d79a;
    border-radius: 3px;
}

input::placeholder{
    color: #7878789a;
}

.check-cnt{
    width: 70%;
    font-size: 1.05vw;
    font-weight: 600;
    color: #4e4e4e;
    display: flex;
    align-items: center;
}

label{
    padding-left: 10px;
    cursor: pointer;
}

.btn-section{
    width: 70%;
    margin: 20px 0;
}

button{
    width: 100%;
    font-size: 1.3vw;
    text-transform: uppercase;
    background-color: #603ef7c7;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    padding: 10px 0;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

button:hover{
    background-color: #603ef7;
}

.forget-section{
    margin: 20px 0;
}

a{
    text-decoration: none;
    color: #646464;
    font-size: 1vw;
    font-weight: 600;
}