@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
     min-height:100vh;
     background:linear-gradient(90deg,darkviolet,violet);
  }

  .main-container{
    width:30vw;
    padding:30px ;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }

  .main-heading{
    font-size: 1.8rem;
    font-weight:600;
    color:black;
    text-transform: capitalize;
  }

  form{
    width:100%;
    margin-top:25px;
  }

  .input-section{
     width:inherit;
     margin:0px auto;
     display: flex;
     flex-direction: column;
  }

  .input-section .input-cnt{
     width:100%;
     margin:10px auto;
     position:relative;
  }

  .input-section .input-cnt .input-box{
    width:100%;
    border:none;
    outline:none;
    padding:13px 15px;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    transition: all 0.3s linear;
  }

   .input-box::placeholder{
    font-size: 1rem;
    font-weight: 500;
    color:gray;
    opacity: 0.7;
  }

  .input-box:hover{
    background-color: rgb(237, 236, 236);
  }


#message{
    color:red;
    font-size: 0.7rem;
    font-weight: 600;
}

.button-section{
    margin-top:15px;
    width:100%;
}

.reset-btn{
    width:100%;
    border:none;
    outline:none;
    cursor:pointer;
    padding:10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    color:white;
    background:linear-gradient(90deg,hsl(298deg 44% 48%),hsl(326deg 77% 58%));
    transition: all 0.2s linear;
}

 .button-section>button:hover{
   background:linear-gradient(90deg,rgb(206, 93, 210),rgb(189, 43, 125));
 }

 .fa{
  position:absolute;
  transform: translateY(-50%);
  top:50%;
  right:15px;
  color:grey;
  cursor:pointer;
  font-size:1rem;
  display: none;
  color:violet;
 }

 .fa:active{
  color:darkviolet;
 }

 .input-box:valid ~ span .fa{
  display: block;
 }

 .fa.hide-btn:before{
  content:"\f070";
 }


 @media(max-width:1020px){
.main-container{
width:35%;
}
 }

 @media(max-width:968px){
  .main-container{
  width:45%;
  }
   }

   @media(max-width:700px){
    html{
        font-size: 80%;
    }
    .main-container{
    width:60%;
    }
    .main-heading{
      font-size: 1.7rem;
      margin-top: 10px;
   }
     }

     @media(max-width:480px){
      .main-container{
        width:80%;
        }
      html{
        font-size: 70%;
    }
    form{
      width:100%;
      margin-top:10px;
    }


     @media(max-width:280px){
      .main-container{
        width:90%;
        padding:20px;
        }
         
        .main-heading{
          margin-top: 10px;
       }
  
       form{
        width:100%;
        margin-top:15px;
      }
    
      }
      }
       
 


 